#Cartheader{
    border-radius: 5px;
    
}
#cartempty{
    font-size: 85px;
}
.cart-empty{
    justify-content: center;
}

.cart-empty i, .cart-empty p {
   opacity: 0.3;
  }

  #deleteactionicon{
    font-size: 15px;
  }

  .narrow-input{
    width: 40px;
    height: 20px;
  }

  .Quantitycount{
    height: 40px; 
    width: 35px;
    border-radius: 4px;

  }
  .input-group{
    width: 135px; 
    height: 40px;

  }
  .form-control{
    border: 2px solid rgb(113, 110, 110);
  }

  

 
